<!DOCTYPE html>
<html>
<head>
  <title>Bayardtheque</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="http://www.bayard-jeunesse.com/extension/marque_jeunesse_design/design/marques/images/contenu/img_bayard.gif"></a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Ajouter un livre', new_book_path, class: 'btn btn-primary btn-lg' %></li>
      <li><%= link_to 'Ma collection', books_path, class: 'btn btn-primary btn-lg' %></li>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
